In [1]:
import pandas as pd

In [35]:
df = pd.read_csv("new-site.csv", delimiter = '\\')

In [36]:
df.head()

  site\tdwell-time
0             0\t2
1            1\t48
2            0\t15
3            1\t16
4            0\t38

In [50]:
df['site'] = df['site\tdwell-time'].apply(lambda x: int(x[0]))

In [51]:
df['time'] = df['site\tdwell-time'].apply(lambda x: int(x[2:]))

In [53]:
df[df['site'] == 0]['time'].sum()

16898

In [54]:
df[df['site'] == 1]['time'].sum()

10032

In [56]:
round(df[df['site'] == 0]['time'].mean(),0)

91.0

In [57]:
round(df[df['site'] == 1]['time'].mean(),0)

88.0

In [58]:
H0 = 'Данные распределены нормально'
Ha = 'Данные не распределены нормально (мы отвергаем H0)'

In [59]:
alpha = 0.05

In [75]:
group_a = (df[df['site'] == 0]['time'])
group_b = (df[df['site'] == 1]['time'])

In [77]:
d = ({'Группа А': group_a, 'Группа В': group_b})

new_df = pd.DataFrame(data = d)

display(new_df)

     Группа А  Группа В
0         2.0       NaN
1         NaN      48.0
2        15.0       NaN
3         NaN      16.0
4        38.0       NaN
..        ...       ...
295      22.0       NaN
296       7.0       NaN
297       NaN     144.0
298      89.0       NaN
299     138.0       NaN

[300 rows x 2 columns]

In [79]:
from scipy.stats import shapiro

In [92]:
_, p = shapiro(group_b)
print('p=%.3f' % p)

# Интерпретация 

if p > alpha:
	print(H0)
else:
	print(Ha)

p=0.000
Данные не распределены нормально (мы отвергаем H0)

In [82]:
!pip install statsmodels

Collecting statsmodels
  Downloading statsmodels-0.13.2-cp310-cp310-win_amd64.whl (9.1 MB)
     ---------------------------------------- 9.1/9.1 MB 4.9 MB/s eta 0:00:00
Requirement already satisfied: packaging>=21.3 in q:\ds\python\lib\site-packages (from statsmodels) (21.3)
Requirement already satisfied: numpy>=1.17 in q:\ds\python\lib\site-packages (from statsmodels) (1.23.1)
Requirement already satisfied: pandas>=0.25 in q:\ds\python\lib\site-packages (from statsmodels) (1.4.3)
Collecting patsy>=0.5.2
  Downloading patsy-0.5.2-py2.py3-none-any.whl (233 kB)
     ------------------------------------- 233.7/233.7 kB 14.0 MB/s eta 0:00:00
Requirement already satisfied: scipy>=1.3 in q:\ds\python\lib\site-packages (from statsmodels) (1.9.0)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in q:\ds\python\lib\site-packages (from packaging>=21.3->statsmodels) (3.0.9)
Requirement already satisfied: pytz>=2020.1 in q:\ds\python\lib\site-packages (from pandas>=0.25->statsmodels) (2022.1)
Requirement already satisfied: python-dateutil>=2.8.1 in q:\ds\python\lib\site-packages (from pandas>=0.25->statsmodels) (2.8.2)
Requirement already satisfied: six in q:\ds\python\lib\site-packages (from patsy>=0.5.2->statsmodels) (1.16.0)
Installing collected packages: patsy, statsmodels
Successfully installed patsy-0.5.2 statsmodels-0.13.2

[notice] A new release of pip available: 22.2.1 -> 22.2.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [83]:
from statsmodels.stats import weightstats

In [84]:
new_df.columns

Index(['Группа А', 'Группа В'], dtype='object')

In [86]:
_ ,p = weightstats.ztest(new_df['Группа А'], x2=new_df['Группа В'], value=0,alternative='two-sided')
print(float(p))


if p < 0.05:
    print("Мы отвергаем нулевую гипотезу об отсутсвии различий между данными.")
else:
    print("Мы не можем отвергнуть нулевую гипотезу об отсутсвии различий между данными.")

nan
Мы не можем отвергнуть нулевую гипотезу об отсутсвии различий между данными.