### Задание:
Объедините два массива в DataFrame. \
Обоснуйте выбор теста на корреляцию. \
Сделайте вывод по гипотезе.\
Ответьте на вопрос: Какова разница в среднем размере мидии в зависимости от города-производителя\
Обоснуйте выбор теста. \
Сделайте вывод по гипотезе.

In [2]:
import pandas as pd
import statistics

In [3]:
petersburg = [0.0974, 0.1352, 0.0817, 0.1016, 0.0968, 0.1064, 0.105]
magadan = [0.1033, 0.0915, 0.0781, 0.0685, 0.0677, 0.0697, 0.0764, 0.0689]

print(len(petersburg), len(magadan))

7 8

Т.к. Массив Магадана длинее чем у СПБ, добавим медианное значение к массиву СПБ, чтобы выровнить их длину

In [4]:
petersburg.append(statistics.median(petersburg))

In [5]:
# Объедините два массива в DataFrame
rus = pd.DataFrame({'Петербург': petersburg, 'Магадан': magadan})

display(rus)

   Петербург  Магадан
0     0.0974   0.1033
1     0.1352   0.0915
2     0.0817   0.0781
3     0.1016   0.0685
4     0.0968   0.0677
5     0.1064   0.0697
6     0.1050   0.0764
7     0.1016   0.0689

Т.к выборка небольшая, используем тест Шапиро, для проверки нормальности распределения данных

In [6]:
H0 = 'Данные распределены нормально'
Ha = 'Данные не распределены нормально (мы отвергаем H0)'

In [7]:
# Установим уровень значимости
alpha = 0.05

In [8]:
from scipy.stats import shapiro

In [9]:
_, p = shapiro(rus)
print('p=%.3f' % p)

# Интерпретация 

if p > alpha:
	print(H0)
else:
	print(Ha)

p=0.101
Данные распределены нормально

Т.к. мы имеем дело с Нормальнораспределенными количественными признаками, мы можем проверить кореляцию признаков методом Пирсона

In [10]:
rus.corr()

           Петербург   Магадан
Петербург   1.000000  0.256665
Магадан     0.256665  1.000000

Мы видим, что корреляция между признаками = 0.26, что считается очень слабой/отсутствующей корреляцией.

Т.к. у нас Нормально распределенная, количественная выборка, состоящая из 2 групп и имеющая меньше 30 параметров, мы будем проводить сравнение выборок с помощью Т-тест

In [11]:
from scipy.stats import ttest_ind

In [12]:
H0 = 'Нет значимой разницы между размерами мидий в разных городах.'
Ha = 'Есть значимая разница между размерами мидий в разных городах.'

In [13]:
def t_test(df):
    print('\n' + "*** Результаты независимого T-теста ***")
    test_results = ttest_ind(rus['Петербург'], rus['Магадан'], equal_var=True)

    p = round(test_results[1],2)

    if p>alpha:
        print(f"{p} > {alpha}. Мы не можем отвергнуть нулевую гипотезу. {H0}")
    else:
        print(f"{p} <= {alpha}. Мы отвергаем нулевую гипотезу. {Ha}")

t_test(rus)

*** Результаты независимого T-теста ***
0.0 <= 0.05. Мы отвергаем нулевую гипотезу. Есть значимая разница между размерами мидий в разных городах.